<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test-webpack</title>
</head>

<body>
    <div class="main-wrapper">
        <div class="container">
            <form id="myForm" method="post" onsubmit="return Client.handleSubmit(event)">
                <label for="URI">Enter an Article URL:</label>
                <input type="text" id="URI" name="URI" />
                <button type="submit" value="Analyze">Analyze</button>
            </form>
        </div>
        <p>URL must start with www or http</p>
        <div id="error" style="display: none;"></div>
        <div id="results">
            <h2>Results:</h2>
            <div id="loader" style="display: none;"></div>

            <ul id="resultsList">
                <!-- <li id="agreement"></li> -->
                <li id="subjectivity"></li>
                <!-- <li id="confidence"></li> -->
                <!-- <li id="irony"></li>
                <li id="score_tag"></li> -->
                <li id="text"></li>
                <li id="polarity"></li>
            </ul>
        </div>
    </div>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>